doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/uikit.min.css')
    link(rel='stylesheet', href='/stylesheets/uikit-rtl.min.css')
  body.uk-container
    block content